<ng-container *ngIf="hasCardToLearn$ | async; else nothingToBeLearned">
  <dt-card>
    <dt-card-title>{{question$ | async}}</dt-card-title>
    <app-feedback-component *ngIf="_showAnswer || (correctShortcutDetected$ | async) === true"
                            [askFeedback]="!_showAnswer"
                            [correctAnswer]="answer$ | async"
                            (gradeEmitter)="next($event)"></app-feedback-component>
    <button *ngIf="!_showAnswer" (click)="showAnswer()" dt-button>Show
      answer
    </button>
  </dt-card>
</ng-container>

<ng-template #nothingToBeLearned>
  Nothing to be learned
</ng-template>


