dt-menu {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 236px;
  z-index: 2;
}

a[dtMenuItem] {
  padding: 0 20px;
}

.sidenav-container {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}

.sidenav-title {
  display: inline-flex;
  line-height: 44px;
  font-size: 112%;
}

.sidenav-title-image {
  height: 24px;
  width: 24px;
  fill: #ffffff;
  line-height: 56px;
  margin-right: 10px;
}

.top-bar-button {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: #191919;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #353535;
  }
}

.nav {
  top: 0;
  width: 100%;
  right: 0;
  z-index: 1;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.memokey-main {
  width: 60%;
}

.memokey-menu {
  width: 200px;
}

app-currently-pressed-keys {
  margin-top: auto;
  width: 100%;
}
