:host {

}

dt-menu {
  width: 200px;
}

.memokey-main {
  margin-left: 20%;
  margin-right: 20%;
}

.memokey-menu {
  width: 200px;
}

app-currently-pressed-keys {
  position: absolute;
  bottom: 0;
}
